In [2]:
print("\t\tILY\tILY\n\t     ILY    ILY\t   ILY\n\t   ILY\t\t     ILY\n\t     ILY\t   ILY\n\t\tILY\tILY\n\t\t    ILY")

		ILY	ILY
	     ILY    ILY	   ILY
	   ILY		     ILY
	     ILY	   ILY
		ILY	ILY
		    ILY

In [3]:
name_list = ["Roger", "Marie", "John", "Mao"]
print("%s %s"% (name_list[0],name_list[2]))

Roger John

In [6]:
from datetime import date
start_date = date (2022, 8, 3)
end_date = date (2022, 9, 17)
number_of_days = end_date - start_date
print("The number of days between 3rd August and 17th September 2018: ",
number_of_days.days, "days")

The number of days between 3rd August and 17th September 2018:  45 days

In [7]:
variable_a = ("Cat", 4)
print("I have a %s and he is %i years old."
%variable_a)

I have a Cat and he is 4 years old.

In [11]:
name_list_1 = set(["Jenny", "Cole", "Jax", "Mike"])
name_list_2 = set(["Jenny", "Jax"])
 
print("The names which exist in the first name list but not exist in the second set of name list :", name_list_1.difference(name_list_2))

The names which exist in the first name list but not exist in the second set of name list : {'Cole', 'Mike'}